body{
     background-color: #EAF6F6;
    }

 hr{
     border: none;
     border-top: 5px dotted grey;
     width: 4%;
     background-color: #EAF6F6;
   }
 h1{
     color: #66BFBF;
     text-shadow: 1px 1px #66BFBF;
   }
 h3{
     color: #66BFBF;
     text-shadow: 1px 1px #66BFBF;
   }
